html {
    /* 브라우저 스크롤바 숨기기 */
    -ms-overflow-style: none;
    -webkit-scrollbar: hidden;
    overflow: -moz-scrollbars-none; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #FBF8EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}


::-webkit-scrollbar {
  display:none;
}

/*  


*/


#regist_form {
  width: 580px;
  margin: 0 auto;
  z-index: 0;
}

.input_regist_info {
  width: 100%px;
  height : 52px;
  position: relative;
  margin-bottom: 24px;
}

.input_regist_info > label {
  width: 30%;
  height : 100%;
  padding-left: 20px;
  display: block;
  position: absolute;
  left: 8px;
  top: 12px;
}
.input_regist_info > input {
  width: 70%;
  height : 100%;
  border-radius: 4px;
  padding-left: 8px;
  position: absolute;
  right: 8px;
}

.input_regist_button {
  display: inline;
  text-align: center;
}

#regist_button {
  width: 200px;
  height : 52px;
  text-align: center;
}

#cancel_button {
  width: 200px;
  height: 52px;
  text-align: center;
  margin-right: 12px;
}




/* Header */

#header {
  width: 100%;
  height: 120px;
  background: #FAAC58;
  text-align: center;
  position: relative;
  line-height: 120px;
  z-index: 1;
}

#header #aside-menu-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}



/* Aside Menu bar */
#menu-items {
  min-width: 128px;
  width: 25%;
  height: 100%;
  position: fixed;
  left: -25%;
  top: 120px;
  background-color: #FAAC58;
  z-index: 2;
  transform: translateX(0);
  transition-duration: 1s;
}


#menu-items.activeMenuButton {
  transform: translateX(100%);
  transition-duration: 1s;
}

#menu-items ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding : 0;
  display: block;
  height: 100%;
}

#menu-items ul li {
  margin : 0 0 0 0;
  padding : 0 0 0 0;
  border: 0;
  width: 100%;
  height: 20%;
  line-height: 72px;
  text-align: center;
}

#menu-items ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}
#menu-items ul li a:visited {
  color : #000;
}


#contents {
  width: 80%;
  margin: 0 auto;
  padding-top: 24px;
}





#login-btn {
  width: 200px;
  height : 52px;
  margin: 0 auto;
  display: block;
  text-align: center;
}